﻿
<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="~/Content/manifest.json">
    <link rel="icon" type="image/png" href="~/Content/img/icon-192x192.png">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/js")
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    @{
        PowerOne.Models.Autorizacoes autorizacoes = ((PowerOne.Models.Login)Session["auth"]).Autorizacoes;
    }

    @if (Session["auth"] != null)
    {
        if (((PowerOne.Models.Login)Session["auth"]).Tema != null)
        {
            if (((PowerOne.Models.Login)Session["auth"]).Tema.Color != null)
            {
                <link rel="stylesheet" type="text/css" href="~/Content/var-css/@(((PowerOne.Models.Login)Session["auth"]).Tema.Color.ToString()).css">
            }
            else
            {
                <link rel="stylesheet" type="text/css" href="~/Content/var-css/BLACK.css">
            }

        }
        else
        {
            <link rel="stylesheet" type="text/css" href="~/Content/var-css/BLACK.css">
        }
    }
    else
    {
        <link rel="stylesheet" type="text/css" href="~/Content/var-css/BLACK.css">
    }


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" type="text/css" />
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178729722-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-178729722-1');
    </script>

</head>
<body>
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="border-right" id="sidebar-wrapper">
            <div class="sidebar-heading list-group">
                <a href="~/">
                    <img class="m-auto col-10 py-3" src="~/Content/img/logo-company.png" />
                </a>
            </div>
            <div class="list-group list-group-flush">
                <div class="accordion" id="sidebar">

                    @Html.ActionLink("Timesheet", "Timesheet", "Home", null, new { @class = "list-group-item list-group-item-action" })

                    @Html.ActionLink("Configurações", "Configuracoes", "Home", null, new { @class = "list-group-item list-group-item-action" })
                    @Html.ActionLink("Sair", "Logout", "Login", null, new { @class = "list-group-item list-group-item-action" })
                </div>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="row">
                <div class="col-10 d-inline">
                    <button class="btn m-3 " id="menu-toggle">
                        <span>&#9776;</span>
                    </button>
                </div>
            </div>

            <div class="container-fluid">
                @if (String.IsNullOrEmpty(ViewBag.Title))
                {
                    <label class="ml-2 voltarLayout d-inline " onclick="window.history.go(-1);">/ Voltar </label>
                }
                @RenderBody()

            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Content/main.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    @*<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>*@

    @RenderSection("scripts", required: false)


<script>
        $(function () {
            setTimeout(function () {
                $('.alert').hide();
            }, 4000);
        });
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        $("#checkTodos").change(function () {
            $("input:checkbox.cbx-billmessage").prop('checked', $(this).prop("checked"));
        });

        $("#checkTodos").change(function () {
            $("input:checkbox.cbx-reqestoque").prop('checked', $(this).prop("checked"));
        });

        $('#nav-anexos-tab').click(function () {
            $('#form_anexo').show();
            $('#form_item').hide();
        });
        $('#nav-itens-tab').click(function () {
            $('#form_anexo').hide();
            $('#form_item').show();
        });

        var editor = new MediumEditor('.editable', {
            imageDragging: false,
            toolbar: {
                buttons: [
                    'bold',
                    'italic',
                    'underline',
                    'strikethrough',
                    'anchor',
                    'orderedlist',
                    'unorderedlist',
                    'indent',
                    'outdent',
                    'justifyLeft',
                    'justifyCenter',
                    'justifyRight',
                    'justifyFull',
                    'h1',
                    'h2',
                    'h3',
                    'h4',
                    'h5',
                    'h6',
                    'removeFormat',
                    'html '
                ]
            }
        });



        document.addEventListener('mousemove', function () {
            seg = 0;
        });

        window.addEventListener('scroll', function () {
            seg = 0;
        });

        window.addEventListener('click', function () {
            seg = 0;
        });

        setInterval(function () {
            seg = seg + 1;
            if (seg == 480) {
                $.ajax({
                    type: "GET",
                    url: '/Login/Logout',
                    success: function (msg) {
                        alert("Sua sessão expirou - Faça login novamente")
                    }
                });
            }
        }, 1000);

    function verificarEstadoLogin() {
        $.ajax({
            url: '/Login/VerifyIfIsLogged',
            type: 'POST',
            dataType: 'json',
            success: function (msg) {
                if (msg != "logged") {
                    alert(msg);
                    window.location.href = "/Login/Index";
                }
            },
            error: function () {
                alert("Erro ao enviar os dados.");
            }
        });
    }
    verificarEstadoLogin();

</script>
</body>
</html>
