:root {
    --bg-color: #c5be03;
    --hover-color: #C7C232;
}

thead, th {
    background-color: #d8d118 !important;
    border-color: #d8d118 !important;
}

.cardnosso {
    border-color: #d8d118;
}