﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

<<<<<<< HEAD

=======
    List<DaFonte.Models.CentroCusto> ctCustos = (List<DaFonte.Models.CentroCusto>)TempData["ctCustos"];
    List<DaFonte.Models.Atividade> atividades = (List<DaFonte.Models.Atividade>)TempData["Atividades"];
>>>>>>> fa2b196bc317aa6992eb5217c61ae09f06d314f8
}

<main>
    <h1 class="text-center col-12 p-3">Apontamento de horas</h1>

    <div class="card col-md-6 mx-auto">
        <div class="card-body">
            <div class="row">
                <div class="form-group input-group-sm col-md-12">
                    <label>NSU Demanda:</label>
                    <input type="text" class="form-control">
                </div>

                <div class="form-group input-group-sm col-md-12">
                    <label>Profissional:</label>
                    <input type="text" class="form-control">
                </div>

                <div class="col-md-3 form-group input-group-sm">
                    <label>Processo:</label>
                    <input type="text" class="form-control">
                </div>

                <div class="col-md-2 form-group input-group-sm">
                    <label><br></label>
                    <button class="form-control btn btn-outline-dark">...</button>
                </div>

                <div class="col-md-7 form-group input-group-sm">
                    <label><br></label>
                    <textarea class="form-control" style="resize:none"></textarea>
                </div>


                <div class="form-group input-group-sm col-md-6">
                    <label>Empresa:</label>
                    <select class="form-control">
                        <option>BML</option>
                        <option>Da Fonte Bahia</option>
                        <option>Da Fonte Brasília</option>
                        <option>Da Fonte Espanha</option>
                        <option>Da Fonte Paraíba</option>
                        <option>Da Fonte Pernambuco</option>
                        <option>Da Fonte São Paulo</option>
                        <option>Da Fonte, FS</option>
                    </select>
                </div>

                <div class="form-group input-group-sm col-md-6">
                    <label>Centro de Custo:</label>
                    <select class="form-control">
                        <option value="" selected disabled></option>
                        @foreach (var ctCusto in ctCustos)
                        {
                            <option value="@ctCusto.OcrCode.ToString()">@Html.DisplayFor(model => ctCusto.OcrName)</option>
                        }
                    </select>
                </div>

                <div class="form-group input-group-sm col-md-6">
                    <label>Cliente:</label>
                    <select class="form-control">
                        <option>A B Côrte Real & Cia LTDA</option>
                        <option>A2C Consultoria e Assessoria Empres em Inform Ltda</option>
                        <option>Acumuladores Moura</option>
                        <option>ADC Advogados</option>
                    </select>
                </div>

                <div class="form-group input-group-sm col-md-6">
                    <label>Contrato:</label>
                    <select class="form-control">
                        <option>Time</option>
                        <option>Evento/Êxito - Auto de Infração SRFB</option>
                        <option>Evento/Êxito - Despacho Decisório Nº 390/214 da RFB</option>
                        <option>Evento/Êxito - Auto de Infração de IPI - Processo Administrativo</option>
                    </select>
                </div>

                <div class="form-group input-group-sm col-md-12">
                    <label>Atividade:</label>
                    <select class="form-control">
                        <option value="" selected disabled></option>
                        @foreach (var atividade in atividades)
                        {
                            <option value="@atividade.AtCode">@Html.DisplayFor(model => atividade.AtName)</option>
                        }
                    </select>
                </div>

                <div class="form-group input-group-sm col-md-3">
                    <label>Data:</label>
                    <input class="form-control" type="date">
                </div>


                <div class="form-group input-group-sm col-md-3">
                    <label>Hora Inicio:</label>
                    <input class="form-control" type="time">
                </div>

                <div class="form-group input-group-sm col-md-3">
                    <label>Hora Fim:</label>
                    <input class="form-control" type="time">
                </div>

                <div class="form-group input-group-sm col-md-3">
                    <label>Total Horas:</label>
                    <input class="form-control" type="time">
                </div>

                <div class="form-group col-md-12">
                    <label>Descrição:</label>
                    <textarea class="form-control" rows="4"></textarea>
                </div>

                <div class="col-md-6 m-auto">
                    <div class="row">
                        <button class="btn btn-success col-md-5 mx-1">
                            Salvar
                        </button>
                        <button class="btn btn-outline-dark col-md-5 mx-1">
                            Voltar
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>