﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

    <main>
        <h1 class="text-center col-12 p-3">Revisão de horas</h1>

        <div class="card p-0 col-md-11 mx-auto">
            <div class="card-header">
                <form class="row">

                    <div class="form-group input-group-sm col-md-2 input-group-sm">
                        <label>Profissional:</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="col-md-4">
                        <label>Atividade:</label>
                        <div class="row form-group input-group-sm">
                            <input type="text" class="form-control col-md-4">
                            <select class="form-control col-md-8">
                                <option>Acompanhamento de Marca</option>
                                <option>Análise Prévia DFA</option>
                                <option>Análise Processual</option>
                                <option>Atividade Comercial</option>
                                <option>Atividade de Gestão DFA</option>
                                <option>Atos Societários</option>
                                <option>Audiência</option>
                                <option>Parecer ou Orientação</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group input-group-sm col-md-2 input-group-sm">
                        <label>Cliente:</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control  d-none" id="idFonecdor" tabindex="-1" aria-hidden="true" disabled>
                            <input type="text" class="form-control" id="pesquisar-fornecedores" placeholder="Selecione..." autocomplete="off">
                            <div class="input-group-append">
                                <button id="botao-fornecedores" class="btn btn-outline-secondary material-icons tiny" type="button" onclick="listarBp()" data-toggle="modal" data-target="#modalItens">
                                    search
                                </button>
                            </div>
                        </div>
                    </div>


                    @*<div class="form-group input-group-sm col-md-2 input-group-sm">
                        <label>Contrato:</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control d-none" id="idContrato" readonly>
                            <input type="text" class="form-control" id="pesquisar-contrato" placeholder="Selecione..." autofocus autocomplete="off">
                            <div class="input-group-append">
                                <button id="botao-filial" class="btn btn-outline-secondary material-icons tiny" type="button" onclick="SearchFilial(this);" data-tipo="Filial" data-toggle="modal" data-target="#contrato-modal">
                                    search
                                </button>
                            </div>
                        </div>
                    </div>*@

                    <div class="form-group input-group-sm col-md-2 input-group-sm">
                        <label>Empresa:</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="idFilial" readonly>
                            <input type="text" class="form-control" id="pesquisar-filial" placeholder="Selecione..." autofocus autocomplete="off">
                            <div class="input-group-append">
                                <button id="botao-filial" class="btn btn-outline-secondary material-icons tiny" type="button" onclick="SearchFilial()" data-tipo="Filial" data-toggle="modal" data-target="#modalItens">
                                    search
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group input-group-sm col-md-2 input-group-sm">
                        <label>Centro de Custo </label>
                        <select class="form-control">
                            <option>Administrativo</option>
                            <option>Ambiental</option>
                            <option>Recursos humanos</option>
                            <option>Empresarial</option>
                            <option>AENA</option>
                            <option>Arbitragem</option>
                        </select>
                    </div>


                    <div class="form-group input-group-sm col-md-1">
                        <label>Período:</label>
                    </div>

                    <div class="form-group input-group-sm col-md-3">
                        <label class="col-md-5">De:</label>
                        <input type="date" class="form-control">
                    </div>

                    <div class="form-group input-group-sm col-md-3">
                        <label class="col-md-5">Até:</label>
                        <input type="date" class="form-control">
                    </div>

                    <div class="form-group input-group-sm col-md-3 input-group-sm">
                        <label>NSU Demanda:</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="form-group input-group-sm col-md-2 input-group-sm">
                        <label>Hora Faturável:</label>
                        <select class="form-control">
                            <option>Sim</option>
                            <option>Não</option>
                        </select>
                    </div>

                    <div class="form-group input-group-sm col-md-2 input-group-sm">
                        <label>Processo:</label>
                        <input type="text" class="form-control">
                    </div>
                </form>
                <div class="row mx-auto">
                    <a href="#" class="btn btn-outline-dark col m-1" id="add">
                        Adicionar
                    </a>
                    <a href="#" class="btn btn-success col m-1" id="filtrar">
                        Filtrar
                    </a>
                    <a href="#" class="btn btn-outline-dark col m-1" id="limpaFiltros">
                        Limpar
                    </a>
                </div>
            </div>

            <div class="card-body">
                <div class="row p-0 scroll ">
                    <table class="table pointer table-hover m-auto text-center">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Data</th>
                                <th scope="col">Início</th>
                                <th scope="col">Fim</th>
                                <th scope="col">Tempo</th>
                                <th scope="col">Atividade</th>
                                <th scope="col">Cliente</th>
                                <th scope="col">Contrato</th>
                                <th scope="col">Profissional</th>
                            </tr>
                        </thead>
                        <tbody id="registros">
                            <tr class="pointer" data-toggle="modal" data-target="#modalItem">
                                <td scope="row">
                                    <input type="radio" name="timesheet">
                                </td>
                                <td>23/05/2020</td>
                                <td>12:40</td>
                                <td>14:10</td>
                                <td>2:30</td>
                                <td>Acompanhamento de Marca</td>
                                <td>Acumuladores Moura</td>
                                <td>Time</td>
                                <td>Rogério da Silva Andrade</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="modal fade" id="modalItem" tabindex="-1" role="dialog" aria-labelledby="modalItemLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalItemLabel">Resultado do registro:</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">

                            <div class="form-group input-group-sm col-md-4">
                                <label>Profissional:</label>
                                <input type="text" class="form-control">
                            </div>

                            <div class="form-group input-group-sm col-md-4">
                                <label>Empresa:</label>
                                <select class="form-control">
                                    <option>BML</option>
                                    <option>Da Fonte Bahia</option>
                                    <option>Da Fonte Brasília</option>
                                    <option>Da Fonte Espanha</option>
                                    <option>Da Fonte Paraíba</option>
                                    <option>Da Fonte Pernambuco</option>
                                    <option>Da Fonte São Paulo</option>
                                    <option>Da Fonte, FS</option>
                                </select>
                            </div>

                            <div class="form-group input-group-sm col-md-4">
                                <label>Centro de Custo:</label>
                                <select class="form-control">
                                    <option>Administrativo</option>
                                    <option>Ambiental</option>
                                    <option>Recursos humanos</option>
                                    <option>Empresarial</option>
                                    <option>AENA</option>
                                    <option>Arbitragem</option>
                                </select>
                            </div>

                            <div class="form-group input-group-sm col-md-4">
                                <label>Cliente:</label>
                                <select class="form-control">
                                    <option>A B Côrte Real & Cia LTDA</option>
                                    <option>A2C Consultoria e Assessoria Empres em Inform Ltda</option>
                                    <option>Acumuladores Moura</option>
                                    <option>ADC Advogados</option>
                                </select>
                            </div>

                            <div class="form-group input-group-sm col-md-4">
                                <label>Contato:</label>
                                <input type="text" class="form-control">
                            </div>

                            <div class="form-group input-group-sm col-md-4">
                                <label>Atividade:   </label>
                                <input class="form-control" type="text" name="atividade">
                                <select class="form-control">
                                    <option>Acompanhamento de Marca</option>
                                    <option>Análise Prévia DFA</option>
                                    <option>Análise Processual</option>
                                    <option>Atividade Comercial</option>
                                    <option>Atividade de Gestão DFA</option>
                                    <option>Atos Societários</option>
                                    <option>Audiência</option>
                                    <option>Parecer ou Orientação</option>
                                </select>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-group input-group-sm col-md-4">
                                        <label>Data:</label>
                                        <input type="date" class="form-control">
                                    </div>
                                    <div class="form-group input-group-sm col-md-4">
                                        <label>Inicio:</label>
                                        <input type="time" class="form-control">
                                    </div>
                                    <div class="form-group input-group-sm col-md-4">
                                        <label>Fim:</label>
                                        <input type="time" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="row">
                                    <div class="form-group input-group-sm col-md-4">
                                        <label>Total de Horas:</label>
                                        <input type="time" class="form-control">
                                    </div>
                                    <div class="form-group input-group-sm col-md-4">
                                        <label>Ajuste de Horas:</label>
                                        <input type="time" class="form-control">
                                    </div>
                                    <div class="form-group input-group-sm col-md-4">
                                        <label>Faturável:</label>
                                        <select class="form-control">
                                            <option>Sim</option>
                                            <option>Não</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Descrição: </label>
                                    <textarea class="form-control" rows="4"></textarea>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="row">
                                    <div class="form-group input-group-sm col-md-5">
                                        <label>Valor: </label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group input-group-sm col-md-7">
                                        <label>NSU Demanda: </label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group input-group-sm col-md-12">
                                        <label>Processo: </label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-10 mx-auto">
                            <div class="row">
                                <div class="col mx-1">
                                    <button type="submit" class="col-12 btn-block btn btn-success">
                                        Alterar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" id="modalItens" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header text-white bg-dark">
                        <h5 class="modal-title">Selecione:</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-0 scroll max-height-500">
                        <table class="table table-striped table-hover col-md-12 m-auto ">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">
                                        #
                                    </th>
                                    <th scope="col">
                                        Nome
                                    </th>
                                    <th scope="col">
                                        Código
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="lista-tabela">
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer m-auto col-12">
                        <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Fechar</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal" tabindex="-1" id="bp-modal" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header text-white bg-dark">
                        <h5 class="modal-title">Selecione:</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-0 scroll max-height-500">
                        <table class="table table-striped table-hover col-md-12 m-auto ">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">
                                        #
                                    </th>
                                    <th scope="col">
                                        Código Fornecedor
                                    </th>
                                    <th scope="col">
                                        Nome Fornecedor
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="lista-tabela-bp">
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer m-auto col-12">
                        <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Fechar</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal" tabindex="-1" id="contrato-modal" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header text-white bg-dark">
                        <h5 class="modal-title">Selecione:</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-0 scroll max-height-500">
                        <table class="table table-striped table-hover col-md-12 m-auto ">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">
                                        #
                                    </th>
                                    <th scope="col">
                                        Nome Contrato
                                    </th>
                                    <th scope="col">
                                        Código Contrato
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="lista-tabela-contrato">
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer m-auto col-12">
                        <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Fechar</button>
                    </div>

                </div>
            </div>
        </div>
    </main>

@section scripts{
    <script type="text/javascript" src="~/Content/selects.js">

        $("#limpaFiltros").click(function (e) {
            $("#registros").addClass("show");
        });

        $("#filtrar").click(function (e) {
            $("#registros").removeClass("hide");
        });




    </script>
}