﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<PowerOne.Models.ItemEstoque> itens = (List<PowerOne.Models.ItemEstoque>)TempData["ItensEstoque"];

    List<PowerOne.Models.ListBP> bps = (List<PowerOne.Models.ListBP>)TempData["ListBP"];

    List<PowerOne.Models.Filiais> filiais = (List<PowerOne.Models.Filiais>)TempData["filiais"];

    List<PowerOne.Models.Deposito> depositos = (List<PowerOne.Models.Deposito>)TempData["depositos"];

    List<PowerOne.Models.Projetos> projetos = (List<PowerOne.Models.Projetos>)TempData["projetos"];
    PowerOne.Models.Projetos visivel = (PowerOne.Models.Projetos)TempData["visivel"];

    List<PowerOne.Models.CentroCusto> ctCustos = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto"];
    List<PowerOne.Models.CentroCusto> ctCustos2 = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto2"];
    List<PowerOne.Models.CentroCusto> ctCustos3 = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto3"];
    List<PowerOne.Models.CentroCusto> ctCustos4 = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto4"];
    List<PowerOne.Models.CentroCusto> ctCustos5 = (List<PowerOne.Models.CentroCusto>)TempData["ctCusto5"];
}


<h1 class="col-12 text-center">Criar Reembolso</h1>
<hr />
<div class="alert col-10 mx-auto alert-hide" role="alert" id="alert"></div>

<div class="card col-10 mx-auto bg-light p-0">
    <div class="card-header p-4">
        <div class="row">
            <div class="col-md-6">
                <div class="row py-2">
                    <strong class="col-md-6">Filial</strong>
                    <div class="col-md-6">

                        <div class="input-group mb-3">
                            <input type="text" class="form-control d-none" id="idFilial" readonly>
                            <input type="text" class="form-control" id="pesquisar-filial" placeholder="Selecione..." autofocus autocomplete="off">
                            <div class="input-group-append">
                                <button id="botao-filial" class="btn btn-outline-secondary material-icons tiny" type="button" onclick="SearchFilial()" data-toggle="modal" data-target="#filial-modal">
                                    search
                                </button>
                            </div>
                        </div>
                        <div class="modal" tabindex="-1" id="filial-modal" aria-labelledby="" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header text-white bg-dark">
                                        <h5 class="modal-title">Selecione:</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body p-0 scroll max-height-500">
                                        <table class="table table-striped table-hover col-md-12 m-auto ">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col">
                                                        #
                                                    </th>
                                                    <th scope="col">
                                                        Nome Filial
                                                    </th>
                                                    <th scope="col">
                                                        Código Filial
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="lista-tabela-filial">
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer m-auto col-12">
                                        <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Fechar</button>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row py-2">
                    <strong class="col-md-6">Fornecedor</strong>
                    <div class="col-md-6">

                        <div class="input-group mb-3">
                            <input type="text" class="form-control  d-none" id="idFonecdor" tabindex="-1" aria-hidden="true">
                            <input type="text" class="form-control" id="pesquisar-fornecedores" placeholder="Selecione..." autocomplete="off">
                            <div class="input-group-append">
                                <button id="botao-fornecedores" class="btn btn-outline-secondary material-icons tiny" type="button" onclick="listarBp()" data-toggle="modal" data-target="#bp-modal">
                                    search
                                </button>
                            </div>
                        </div>
                        <div class="modal" tabindex="-1" id="bp-modal" aria-labelledby="" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header text-white bg-dark">
                                        <h5 class="modal-title">Selecione:</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body p-0 scroll max-height-500">
                                        <table class="table table-striped table-hover col-md-12 m-auto ">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col">
                                                        #
                                                    </th>
                                                    <th scope="col">
                                                        Código Fornecedor
                                                    </th>
                                                    <th scope="col">
                                                        Nome Fornecedor
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="lista-tabela-bp">
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer m-auto col-12">
                                        <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Fechar</button>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="row py-2">
                    <strong class="col-md-6">Dt. Entrega</strong>
                    <div class="col-md-6">
                        <input type="date" id="DocDueDate" class="form-control" />
                    </div>

                </div>
            </div>
        </div>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link active" id="nav-itens-tab" data-toggle="tab" href="#nav-itens" role="tab" aria-controls="nav-itens" aria-selected="true">Itens</a>
                <a class="nav-link" id="nav-anexos-tab" data-toggle="tab" href="#nav-anexos" role="tab" aria-controls="nav-anexos" aria-selected="false">Anexos</a>
            </div>
        </nav>

    </div>
    <div class="card-body p-0 scroll max-height-500">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-itens" role="tabpanel" aria-labelledby="nav-itens-tab">
                <table class="table table-striped col-md-12 m-auto" id="tabela-itens">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nº Linha</th>
                            <th scope="col">Código Item</th>
                            <th scope="col">Descrição</th>

                            <th scope="col">Quantidade</th>
                            <th scope="col">UM</th>
                            <th scope="col">Preço Unitário</th>
                            <th scope="col">Texto Livre</th>
                            <th scope="col">Cód. do Depósito</th>
                            <th scope="col">Dt. Entrega</th>

                            @if (projetos != null)
                            {
                                <th scope="col">Projeto</th>
                            }

                            @if (TempData["ctCusto"] != null)
                            {
                                <th scope="col" class="th-ctCusto">Centro de custo</th>
                            }
                            @if (TempData["ctCusto2"] != null)
                            {
                                <th scope="col" class="th-ctCusto">Centro de custo2</th>
                            }
                            @if (TempData["ctCusto3"] != null)
                            {
                                <th scope="col" class="th-ctCusto">Centro de custo3</th>
                            }
                            @if (TempData["ctCusto4"] != null)
                            {
                                <th scope="col" class="th-ctCusto">Centro de custo4</th>
                            }
                            @if (TempData["ctCusto5"] != null)
                            {
                                <th scope="col" class="th-ctCusto">Centro de custo5</th>
                            }
                            <th scope="col">Excluir</th>
                        </tr>
                    </thead>
                    <tbody id="itens">
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade show" id="nav-anexos" role="tabpanel" aria-labelledby="nav-anexos-tab">
                <table class="table table-striped col-md-12 m-auto">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Extensão</th>
                            <th scope="col">Excluir</th>
                        </tr>
                    </thead>
                    <tbody id="anexos">
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="card-footer">
        <form class="mx-auto" id="form_item">
            <div class="form-group row">
                <div class="form-group col-md-3">
                    <label>Item:</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Selecione..." aria-label="Example text with button addon" aria-describedby="button-addon1" id="pesquisar-item" autocomplete="off">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary material-icons tiny" type="button" onclick="listarItens()" data-toggle="modal" data-target="#itens-modal">
                                search
                            </button>
                        </div>
                    </div>
                    <div class="modal" tabindex="-1" id="itens-modal" aria-labelledby="" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header text-white bg-dark">
                                    <h5 class="modal-title">Selecione:</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body p-0 scroll max-height-500">
                                    <table class="table table-striped table-hover col-md-12 m-auto ">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">
                                                    #
                                                </th>
                                                <th scope="col">
                                                    Código
                                                </th>
                                                <th scope="col">
                                                    Descrição
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="lista-tabela-itens">
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer m-auto col-12">
                                    <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Fechar</button>
                                </div>

                            </div>
                        </div>
                    </div>

                    <span id="item_validacao" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label>Cód. Item: </label>
                    @*<input type="text" id="Quantidade" class="form-control" />*@
                    <input type="text" id="desc-item" class="form-control" readonly />
                </div>


                <div class="form-group col-md-3">
                    <label>Quantidade: </label>
                    <input inputmode="numeric" type="tel" id="Quantity" class="form-control" onkeypress='return SomenteNumero(event, this)' autocomplete="off" />
                    <span id="quantidade_validacao" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label>Und. Medida: </label>
                    <input type="text" id="BuyUnitMsr" class="form-control form-linha" readonly />
                </div>
                <div class="form-group col-md-3">
                    <label>Preço: </label>
                    <input inputmode="numeric" type="tel" id="PriceBefDi" class="form-control" onkeypress='return SomenteNumero(event, this)' placeholder="R$" autocomplete="off" />
                    <span id="preco_validacao" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label>Dt. Entrega: </label>
                    <input type="date" id="ShipDate" name="ShipDate" class="form-control form-linha" />
                    <span id="dataItem_validacao" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label>Depósito: </label>
                    <select name="WhsCode" class="form-control" id="WhsCode">
                    </select>
                    <span id="whs_validacao" class="text-danger"></span>
                </div>


                @if (projetos != null)
                {
                    <div class="form-group col-md-3">
                        <label>Projeto:</label>
                        <select name="Projeto" class="form-control" id="Projeto">
                            <option value="" disabled selected></option>
                            @foreach (var projeto in projetos)
                            {
                                <option value="@projeto.PrjCode">@Html.DisplayFor(model => projeto.PrjName)</option>
                            }
                        </select>
                        <small class="text-muted">(Opcional)</small>

                    </div>
                }


                <div class="form-group col-md-3">
                    <label>Texto:</label>
                    <input type="text" name="FreeTxt" class="form-control form-linha" id="FreeTxt" autocomplete="off" />
                    <small class="text-muted">(Opcional)</small>
                </div>
                @if (TempData["ctCusto"] != null)
                {
                    <div class="form-group col-md-2">
                        <label>Ct. Custo: </label>
                        <select name="ctCusto" class="form-control" id="OcrCode">
                            <option value=""></option>
                            @foreach (var ctCusto in ctCustos)
                            {
                                <option value="@ctCusto.OcrCode.ToString()">@Html.DisplayFor(model => ctCusto.OcrName)</option>
                            }
                        </select>
                        <small class="text-muted">(Opcional)</small>
                    </div>
                }

                @if (TempData["ctCusto2"] != null)
                {
                    <div class="form-group col-md-2">
                        <label>Ct. Custo 2: </label>
                        <select name="ctCusto2" class="form-control" id="OcrCode2">
                            <option value=""></option>

                            @foreach (var ctCusto2 in ctCustos2)
                            {
                                <option value="@ctCusto2.OcrCode.ToString()">@Html.DisplayFor(model => ctCusto2.OcrName)</option>
                            }
                        </select>
                        <small class="text-muted">(Opcional)</small>
                    </div>
                }
                @if (TempData["ctCusto3"] != null)
                {
                    <div class="form-group col-md-2">
                        <label>Ct. Custo 3: </label>
                        <select name="ctCusto3" class="form-control" id="OcrCode3">
                            <option value=""></option>

                            @foreach (var ctCusto3 in ctCustos3)
                            {
                                <option value="@ctCusto3.OcrCode.ToString()">@Html.DisplayFor(model => ctCusto3.OcrName)</option>
                            }
                        </select>
                        <small class="text-muted">(Opcional)</small>
                    </div>
                }
                @if (TempData["ctCusto4"] != null)
                {
                    <div class="form-group col-md-2">
                        <label>Ct. Custo 4: </label>
                        <select name="ctCusto4" class="form-control" id="OcrCode4">
                            <option value=""></option>

                            @foreach (var ctCusto4 in ctCustos4)
                            {
                                <option value="@ctCusto4.OcrCode.ToString()">@Html.DisplayFor(model => ctCusto4.OcrName)</option>
                            }
                        </select>
                        <small class="text-muted">(Opcional)</small>
                    </div>
                }
                @if (TempData["ctCusto5"] != null)
                {
                    <div class="form-group col-md-2">
                        <label>Ct. Custo 5: </label>
                        <select name="ctCusto5" class="form-control" id="OcrCode5">
                            <option value=""></option>

                            @foreach (var ctCusto5 in ctCustos5)
                            {
                                <option value="@ctCusto5.OcrCode.ToString()">@Html.DisplayFor(model => ctCusto5.OcrName)</option>
                            }
                        </select>
                        <small class="text-muted">(Opcional)</small>
                    </div>
                }
            </div>
            <div class="form-group col-md-2 row mx-auto">
                <button type="button" class="btn btn-block btn-outline-dark material-icons" onclick="salvarLinha()">add</button>
            </div>
        </form>


        <form id="form_anexo" style="display:none" class="row">
            <div class="form-group">
                <label>Anexo:</label>
                <input type="file" id="input_anexo">
                <button type="button" class="btn btn-success Small mt-2" onclick="uploadAnexo()"><i class="material-icons">file_upload</i></button>
            </div>
        </form>

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <div class="form-group">
                        <label>Observações: </label>
                        <textarea class="form-control" style="resize:none" id="obs" name="obs"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row p-2">
                                    <button class="btn btn-success col-md-12" id="botao" type="button" disabled="disabled" onclick="salvar()">Salvar</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row p-2">
                                    @Html.ActionLink("Voltar", "Reembolso", "Home", null, new { @class = "btn btn-outline-primary col-md-12" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Content/scripts/anexos.js"></script>
    <script>
        var linhas = [];

        function docValid() {
            var msg = "";
            var valid = true;
            var data = document.getElementById("DocDueDate");

            var dataAtual = new Date();
            dataAtual.setHours(0, 0, 0, 0);

            var docDueDateFormatada = new Date($('#DocDueDate').val() + 'T00:00');
            if (docDueDateFormatada < dataAtual) {
                msg = "A data do Documento deve ser maior ou igual que a atual!";
                escreverMensagemEmHead(msg);
                valid = false;
            } else if (data.value == '') {
                msg = "A data do documento tem que ser inserida!";
                escreverMensagemEmHead(msg);
                valid = false;
            }

            let teste = $('#idFonecdor').val();
            if (teste == null || teste == "" || teste == undefined) {
                //console.log(teste);
                msg = "Escolha um Fornecedor válido!";
                escreverMensagemEmHead(msg);
                valid = false;
            }
            return valid;
        }

        //validações dos itens
        function isValid(data) {
            var msg = "";
            var valid = true;

            var dataAtual = new Date();
            dataAtual.setHours(0, 0, 0, 0);

            shipDateFormatada = new Date($('#ShipDate').val() + 'T00:00');


            let testebp = $('#idFonecdor').val();
            if (testebp == null || testebp == "" || testebp == undefined) {
                console.log(testebp);
                msg = "Escolha um Fornecedor válido!";
                escreverMensagemEmHead(msg);
                valid = false;
            }

            if (shipDateFormatada < dataAtual) {
                msg = "A data do item tem que ser maior do que hoje!";
                escreverMensagemEmInput('#data_validacao', msg);
                valid = false;
            }

            if (data.Quantity == "" || data.Quantity == "," || data.Quantity <= 0 ) {
                msg = "Quantidade inválida.";
                escreverMensagemEmInput('#quantidade_validacao', msg);
                valid = false;
            } else if (data.Quantity.substr(0, 1) == ",") {
                msg = "Quantidade Inválida.";
                escreverMensagemEmInput('#quantidade_validacao', msg);
                valid = false;
            }
            else if (isNaN(parseFloat(data.Quantity))) {
                msg = "Quantidade deve ser um número.";
                escreverMensagemEmInput('#quantidade_validacao', msg);
                valid = false;
            }

            if (data.PriceBefDi <= 0 || data.PriceBefDi == "," || data.PriceBefDi == "") {
                msg = "Preço inválido.";
                escreverMensagemEmInput('#preco_validacao', msg);
                valid = false;
            } else if (isNaN(parseFloat(data.PriceBefDi))) {
                msg = "Preço inválido.";
                escreverMensagemEmInput('#preco_validacao', msg);
                valid = false;
            } else if (data.PriceBefDi.substr(0, 1) == ",") {
                msg = "Preço Inválido.";
                escreverMensagemEmInput('#preco_validacao', msg);
                valid = false;
            }

            if (data.WhsCode == "" || data.WhsCode == null || data.WhsCode == undefined) {
                msg = "Defina a filial e Deposito.";
                escreverMensagemEmInput('#whs_validacao', msg);
                escreverMensagemEmInput('#filial_validacao', msg);
                valid = false;
            }

            //validacao da data linha e item
            let teste = $('#pesquisar-item').val();
            if (teste == null || teste == "") {
                msg = "Escolha um item!";
                escreverMensagemEmInput('#item_validacao', msg);
                valid = false;
            }
            let pa = $('#desc-item').val();
            if (pa == null || pa == "") {
                msg = "Escolha um item válido!";
                escreverMensagemEmInput('#item_validacao', msg);
                valid = false;
            }

            var shipDateFormatada = new Date($('#ShipDate').val()+'T00:00');

            var data = document.getElementById("ShipDate");
            if (shipDateFormatada < dataAtual) {
                msg = "A data do item tem que ser maior do que hoje!";
                escreverMensagemEmInput('#dataItem_validacao', msg);
                valid = false;
            } else if (data.value == '') {
                msg = "Data obrigatoria!";
                escreverMensagemEmInput('#dataItem_validacao', msg);
                valid = false;
            }
            return valid;
        }

        function salvarLinha() {
            var linha = {};
            var countCCusto = $('.th-ctCusto').length;
            linha.ItemCode = $('#desc-item').val();
            linha.ItemDesc = $('#pesquisar-item').val();
            linha.ShipDate = $('#ShipDate').val();
            linha.Quantity = $('#Quantity').val();
            linha.PriceBefDi = $('#PriceBefDi').val();



            if (countCCusto >= 1) {
                linha.OcrCode = $('#OcrCode :selected').val();
                linha.OcrName = $('#OcrCode :selected').text();
            }
            if (countCCusto >= 2) {
                linha.OcrCode2 = $('#OcrCode2 :selected').val();
                linha.OcrName2 = $('#OcrCode2 :selected').text();
            }
            if (countCCusto >= 3) {
                linha.OcrCode3 = $('#OcrCode3 :selected').val();
                linha.OcrName3 = $('#OcrCode3 :selected').text();
            }
            if (countCCusto >= 4) {
                linha.OcrCode4 = $('#OcrCode4 :selected').val();
                linha.OcrName4 = $('#OcrCode4 :selected').text();
            }
            if (countCCusto >= 5) {
                linha.OcrCode5 = $('#OcrCode5 :selected').val();
                linha.OcrName5 = $('#OcrCode5 :selected').text();
            }

            linha.WhsCode = $('#WhsCode :selected').val();
            linha.WhsName = $('#WhsName :selected').text();
            linha.BuyUnitMsr = $('#BuyUnitMsr').val();
            linha.FreeTxt = $('#FreeTxt').val();

            var VerProj = $('#Projeto').length;
            if (VerProj != 0) {
                linha.Projeto = $('#Projeto :selected').val();
                linha.PrjName = $('#Projeto :selected').text();
            }

            if (isValid(linha)) {
                linhas.push(linha);
                listar();
            } else {
                linha = {}
            }

            $('#desc-item').val(jQuery(_radio).data(""));
        }

        function listar() {
            limparFormTable();
            preencheUnd();
            var countCCusto = $('.th-ctCusto').length;
            linhas.forEach(function (linha) {
                var row = "";
                checaDisable();
                row += "<td>" + (linhas.indexOf(linha) + 1) + "</td>";
                row += "<td>" + linha.ItemCode + "</td>";
                row += "<td>" + linha.ItemDesc + "</td>";
             
                row += "<td>" + linha.Quantity + "</td>";
                row += "<td>" + linha.BuyUnitMsr + "</td>";
                row += "<td>" + linha.PriceBefDi + "</td>";
                row += "<td>" + linha.FreeTxt + "</td>";
            
                row += "<td>" + linha.WhsCode + "</td>";
                row += "<td>" + dataFormatada(linha.ShipDate) + "</td>";            

                var VerProj = $('#Projeto').length;
                //console.log(VerProj);
                if (VerProj != 0) {
                    row += "<td>" + linha.PrjName + "</td>";
                }
                if (countCCusto >= 1) {
                    row += "<td>" + linha.OcrName + "</td>";
                }
                if (countCCusto >= 2) {
                    row += "<td>" + linha.OcrName2 + "</td>";
                }
                if (countCCusto >= 3) {
                    row += "<td>" + linha.OcrName3 + "</td>";
                }
                if (countCCusto >= 4) {
                    row += "<td>" + linha.OcrName4 + "</td>";
                }
                if (countCCusto >= 5) {
                    row += "<td>" + linha.OcrName5 + "</td>";
                }

                row += "<td>" + "<button class='btn btn-outline-danger' onclick='excluirLinha(" + (linhas.length - 1) + ")'>Excluir</button>" + "</td>";

                $('tbody#itens').append("<tr class='tr'>" + row + "<tr>");
            });
        }

        function salvar() {
            if (docValid()) {

                var data = new Date();
                var reembolso = {
                    CardCode: $('#idFonecdor').val(),
                    CardName: $('#pesquisar-fornecedores').val(),
                    DocDueDate: $('#DocDueDate').val(),
                    BPL_IDAssignedToInvoice: $('#idFilial').val(),
                    DocDate: data.toLocaleString(),
                    Comments: $('#obs').val(),
                    Itens: linhas,
                    ListaAnexos: anexos
                };

                $.ajax({
                    url: '/SolicitacaoReembolso/Add',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        'reembolso': reembolso
                    },
                    success: function (data) {
                        if (data.type == 'error') {
                            $('#alert').text(data.msg);
                            $('#alert').removeClass('alert-hide');
                            $('#alert').addClass('alert-danger');
                        } else {
                            addSucces(data.msg, null, null);
                            //$('#alert').text(data.msg);
                            //$('#alert').removeClass('alert-hide');
                            //$('#alert').removeClass('alert-danger');
                            //$('#alert').addClass('alert-success');

                            limparFormTable();
                            linhas = [];
                        }
                    },
                    error: function () {
                        alert("Erro ao enviar os dados.");
                    }
                });
            }
        }

        function limparFormTable() {
            $('tbody#itens tr').remove();
            $('form div div input').each(function () {
                this.value = '';
            });
            $('form div div select').each(function () {
                this.value = '';
            });
            listarItens("");

        }

        function preencheUnd() {
            var und = $('#item :selected').attr('data-unidadeMedida');
            $('#BuyUnitMsr').val(und);
        }


        function listarDepositos() {

            if ($('#idFilial') == null) {
               $('select#WhsCode option').remove();
            } else {

                $.ajax({
                    url: '/Deposito/ListDepositos',
                    type: 'get',
                    dataType: 'json',
                    data: {
                        'Filial': $('#idFilial').val()
                    },
                    success: function (data) {
                        //console.log(data);
                        preenhceSelectDeposito(data)
                    },
                    error: function () {
                        alert("Erro ao enviar os dados.");
                    }
                });
            }
        }

        function preenhceSelectDeposito(data) {

            $('select#WhsCode option').remove();
            data.forEach(function (deposito) {
                var row = '';
                row += "<option value='" + deposito.WhsCode + "'>" + deposito.WhsName + "</option>";
                $('select#WhsCode').append(row);
            });
        }

        @* <input type="hidden" name="myElement" id="myElement" value="some text" /> *@



        //inicio input filial
        function SearchFilial() {
            var BPLName = $('#pesquisar-filial').val();
            $.ajax({
                url: '/BP/SearchFilial',
                type: 'get',
                dataType: 'json',
                data: {
                    'BPLName': BPLName,
                },
                success: function (data) {
                    listarFilial(data);
                },
            });
        }

        function listarFilial(listItens) {
            $('tbody#lista-tabela-filial tr').remove();
            listItens.forEach(function (filial) {
                var row = ""
                row += "<td>" + "<input type='radio' name='item-radio' id='" + filial.BplId + "' onchange='preencherFilial(this);listarDepositos()' value='" + filial.BplName + "' data-bplid='" + filial.BplId + "'></td>";
                row += "<td>" + filial.BplName + "</td>";
                row += "<td>" + filial.BplId + "</td>";

                $('tbody#lista-tabela-filial').append("<tr class='tr tr-click' onclick='fnc(this)' data-tipo='filial' data-id='" + filial.BplId + "'>" + row + "<tr>");
            });
        }

        function preencherFilial(_radio ) {
                $('#pesquisar-filial').val(jQuery(_radio).val());
                $('#idFilial').val(jQuery(_radio).data("bplid"));
                $('#filial-modal').modal('hide');
        }

        $(document).on('keydown', '#pesquisar-filial', function (tab) {
            if (tab.which == 9 || tab.which == 13) {
                SearchFilial();
                $('#filial-modal').modal('toggle');
            }
        });
         //fim input filial




        //inicio input bp
        function listarBp() {
            var CardName = $('#pesquisar-fornecedores').val();
            var Filial = $('#idFilial').val();

            $.ajax({
                url: '/BP/SearchBp',
                type: 'get',
                dataType: 'json',
                data: {
                    'CardName': CardName,
                    'Filial': Filial,
                },
                success: function (data) {
                    listarBpRadio(data);
                },
            });
        }

        function listarBpRadio(listItens) {
            $('tbody#lista-tabela-bp tr').remove();
            listItens.forEach(function (item) {
                var row = ""
                row += "<td>" + "<input type='radio' name='item-radio' id='" + item.CardCode + "' onchange='escreverBpInput(this)' ' value='" + item.CardName + "' data-cardcode='" + item.CardCode + "'></td>";
                row += "<td>" + item.CardCode + "</td>";
                row += "<td>" + item.CardName + "</td>";

                $('tbody#lista-tabela-bp').append("<tr class='tr tr-click' onclick='fnc(this)' data-tipo='bp' data-id='" + item.CardCode + "'>" + row + "<tr>");
            });
        }



        function escreverBpInput(_radio) {
            $('#pesquisar-fornecedores').val(jQuery(_radio).val());
            $('#idFonecdor').val(jQuery(_radio).data("cardcode"));
            $('#bp-modal').modal('hide');
        }
        $(document).on('keydown', '#pesquisar-fornecedores', function (tab) {
            if (tab.which == 9 || tab.which == 13) {
                listarBp();
                $('#bp-modal').modal('toggle');
            }
        });
        //fim input bp



        //inicio input itens
        function listarItens() {
            var itemName = $('#pesquisar-item').val();

            $.ajax({
                url: '/Item/Search',
                type: 'get',
                dataType: 'json',
                data: {
                    'itemName': itemName,
                },
                success: function (data) {
                    listarItensRadio(data);
                },
            });
        }

        function listarItensRadio(listItens) {
            $('tbody#lista-tabela-itens tr').remove();
            listItens.forEach(function (item) {
                var row = ""

                row += "<td>" + "<input type='radio' id='" + item.ItemCode + "' onchange='escreverItemInput(this)' value='" + item.ItemCode + "'  data-itemname='" + item.ItemName + "' data-unidademedida='" + item.UnidadeMedida + "'>" + "</td>";
                row += "<td>" + item.ItemCode + "</td>";
                row += "<td>" + item.ItemName + "</td>";

                $('tbody#lista-tabela-itens').append("<tr class='tr tr-click' onclick='fnc(this)' data-tipo='item' data-id='" + item.ItemCode + "'>" + row + "<tr>");
            });
        }



        function escreverItemInput(_radio) {
            $('#desc-item').val(jQuery(_radio).val());
            $('#pesquisar-item').val(jQuery(_radio).data("itemname"));
            $('#BuyUnitMsr').val(jQuery(_radio).data("unidademedida"));
            $('#itens-modal').modal('hide');
        }
        $(document).on('keydown', '#pesquisar-item', function (tab) {
            if (tab.which == 9 || tab.which == 13) {
                listarItens();
                $('#itens-modal').modal('toggle');
            }
        });
        //fim input itens

        //function checaInput() {
        //    console.log("ta");
        //    if (testebp != null) {
        //        $("#botao-filial").prop('disabled', false);
        //        $("#pesquisar-filial").prop('disabled', false);
        //    }
        //}

    </script>
}
