﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<PowerOne.Models.ViewModel.AutorizacoesFormViewModel> oValoresValidos = new List<PowerOne.Models.ViewModel.AutorizacoesFormViewModel>();

    oValoresValidos.Add(new PowerOne.Models.ViewModel.AutorizacoesFormViewModel { sValor = "N", sDescricao = "Sem Autorização" });
    oValoresValidos.Add(new PowerOne.Models.ViewModel.AutorizacoesFormViewModel { sValor = "R", sDescricao = "Acesso Restrito" });
    oValoresValidos.Add(new PowerOne.Models.ViewModel.AutorizacoesFormViewModel { sValor = "T", sDescricao = "Acesso Total" });

    List<PowerOne.Models.Autorizacoes> autorizacoeUsuario = (List<PowerOne.Models.Autorizacoes>)TempData["autorizacoes"];
    List<PowerOne.Models.AutorizacoesGrupo> autorizacoeGrupo = (List<PowerOne.Models.AutorizacoesGrupo>)TempData["autorizacoesGrupo"];
}
<h1 class="text-center">Autorizações</h1>
<hr />

@if (TempData["Success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Success"].ToString()
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Error"].ToString()
    </div>
}

<div class="card col-md-8 mx-auto p-0">
    <div class="card-header">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="true">Usuários</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="groups-tab" data-toggle="tab" href="#groups" role="tab" aria-controls="groups" aria-selected="true">Grupos</a>
            </li>
        </ul>
    </div>

    <div class="tab-content card-body p-0 scroll max-height-500" id="myTabContent">
        <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
            <table class="table table-striped col-md-12 m-auto">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Usuário</th>
                        <th scope="col">Grupo</th>
                        <th scope="col">Autorizações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in autorizacoeUsuario)
                    {
                        <tr>
                            <td>@Html.DisplayFor(userData => user.UserId)</td>
                            <td>@Html.DisplayFor(userData => user.UserName)</td>

                            <td>
                                <form action="~/Configuracoes/AtualizarGrupoUsuario" method="post" class="row">
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(userData => user.UserId, new { Name = "idUser" })
                                    <div class="form-group row">
                                        <select class="form-control col-md-10" name="idGrupo">
                                            <option value="">Selecione uma opção</option>
                                            @foreach (var option in autorizacoeGrupo)
                                            {
                                                if (option.Code == user.IdGrupo)
                                                {
                                                    <option value="@option.Code" selected>@option.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@option.Code">@option.Name</option>
                                                }
                                            }
                                        </select>
                                        <div class="col-md-2">
                                            <button class="btn btn-outline-success">
                                                <i class="material-icons">save</i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </td>

                            <td>
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal" @( $"data-target=#USR{user.UserId}" )>
                                    <i class="material-icons">build</i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="groups" role="tabpanel" aria-labelledby="groups-tab">
            <table class="table table-striped col-md-12 m-auto">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Grupo</th>
                        <th scope="col">Autorizações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var group in autorizacoeGrupo)
                    {
                        <tr>
                            <td>@Html.DisplayFor(userData => group.Code)</td>
                            <td>@Html.DisplayFor(userData => group.Name)</td>
                            <td>
                                <button type="button" class="btn btn-outline-primary" data-toggle="modal" @( $"data-target=#GRP{group.Code}" )>
                                    <i class="material-icons">build</i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@foreach (var user in autorizacoeUsuario)
{
    <!-- Modal -->
    <div class="modal fade" id="@($"USR{user.UserId}")" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="@($"USR{user.UserId}")" aria-hidden="true">
        <form class="modal-dialog modal-dialog-scrollable" action="~/Configuracoes/Autorizacoes" method="post">
            <input type="hidden" name="UserId" value="@user.UserId" />
            <div class="modal-content">
                <div class="modal-header text-white bg-dark">
                    <h5 class="modal-title" id="staticBackdropLabel">Permissões de @user.UserName</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <table class="table table-striped col-md-12 m-auto ">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">
                                    Página
                                </th>
                                <th scope="col">
                                    Autorização
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Sol. de Compra</td>
                                <td>
                                    <select name="SolCompra" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == user.SolCompra)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Criar Sol. Compra</td>
                                <td>
                                    <select name="CriarSolCompra" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == user.CriarSolCompra)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Ped. Compra</td>
                                <td>
                                    <select name="PedCompra" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == user.PedCompra)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Criar Ped.Compra</td>
                                <td>
                                    <select name="CriarPedCompra" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == user.CriarPedCompra)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Req. Estoque</td>
                                <td>
                                    <select name="ReqEstoque" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == user.ReqEstoque)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Criar Req. Estoque</td>
                                <td>
                                    <select name="CriarReqEstoque" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == user.CriarReqEstoque)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Reembolso</td>
                                <td>
                                    <select name="Reembolso" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == user.Reembolso)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Criar Reembolso</td>
                                <td>
                                    <select name="CriarReembolso" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == user.CriarReembolso)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Criar Mod. Email</td>
                                <td>
                                    <select name="CriarModeloEmail" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == user.CriarModeloEmail)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Mod. Email</td>
                                <td>
                                    <select name="ModeloEmail" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == user.ModeloEmail)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Assist. Envio</td>
                                <td>
                                    <select name="AssistEnvio" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == user.AssistEnvio)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Clientes</td>
                                <td>
                                    <select name="Clientes" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == user.Clientes)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Criar Grp. Clientes</td>
                                <td>
                                    <select name="CriarGrpClientes" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == user.CriarGrpClientes)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Grp. Clientes</td>
                                <td>
                                    <select name="GrpClientes" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == user.GrpClientes)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Registro. Env. Email</td>
                                <td>
                                    <select name="RegistroEnvEmail" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == user.RegistroEnvEmail)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Relat. Cobranças</td>
                                <td>
                                    <select name="RelatCobranças" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == user.RelatCobranças)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success"><i class="material-icons">save</i></button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="material-icons">close</i></button>
                </div>
            </div>
        </form>
    </div>
}

@foreach (var group in autorizacoeGrupo)
{
    <!-- Modal -->
    <div class="modal fade" id="@($"GRP{group.Code}")" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="@($"GRP{group.Code}")" aria-hidden="true">
        <form class="modal-dialog modal-dialog-scrollable" action="~/Configuracoes/AtualizarAutorizacoesGrupo" method="post">
            <input type="hidden" name="Code" value="@group.Code" />
            <input type="hidden" name="Name" value="@group.Name" />
            <div class="modal-content">
                <div class="modal-header text-white bg-dark">
                    <h5 class="modal-title" id="staticBackdropLabel">Permissões de @group.Name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <table class="table table-striped col-md-12 m-auto ">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">
                                    Página
                                </th>
                                <th scope="col">
                                    Autorização
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Sol. de Compra</td>
                                <td>
                                    <select name="SolCompra" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == group.SolCompra)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Criar Sol. Compra</td>
                                <td>
                                    <select name="CriarSolCompra" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == group.CriarSolCompra)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Ped. Compra</td>
                                <td>
                                    <select name="PedCompra" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == group.PedCompra)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Criar Ped.Compra</td>
                                <td>
                                    <select name="CriarPedCompra" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == group.CriarPedCompra)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Req. Estoque</td>
                                <td>
                                    <select name="ReqEstoque" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == group.ReqEstoque)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Criar Req. Estoque</td>
                                <td>
                                    <select name="CriarReqEstoque" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == group.CriarReqEstoque)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Reembolso</td>
                                <td>
                                    <select name="Reembolso" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == group.Reembolso)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Criar Reembolso</td>
                                <td>
                                    <select name="CriarReembolso" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == group.CriarReembolso)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Criar Mod. Email</td>
                                <td>
                                    <select name="CriarModeloEmail" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == group.CriarModeloEmail)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Mod. Email</td>
                                <td>
                                    <select name="ModeloEmail" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == group.ModeloEmail)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Assist. Envio</td>
                                <td>
                                    <select name="AssistEnvio" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == group.AssistEnvio)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Clientes</td>
                                <td>
                                    <select name="Clientes" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == group.Clientes)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Criar Grp. Clientes</td>
                                <td>
                                    <select name="CriarGrpClientes" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == group.CriarGrpClientes)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Grp. Clientes</td>
                                <td>
                                    <select name="GrpClientes" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == group.GrpClientes)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Registro. Env. Email</td>
                                <td>
                                    <select name="RegistroEnvEmail" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == group.RegistroEnvEmail)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Relat. Cobranças</td>
                                <td>
                                    <select name="RelatCobranças" class="form-control">
                                        @foreach (var option in oValoresValidos)
                                        {
                                            if (option.sValor == group.RelatCobranças)
                                            {
                                                <option value="@option.sValor" selected>@option.sDescricao</option>
                                            }
                                            else
                                            {
                                                <option value="@option.sValor">@option.sDescricao</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success"><i class="material-icons">save</i></button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="material-icons">close</i></button>
                </div>
            </div>
        </form>
    </div>

}

